* {
  font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.contents {
  overflow: hidden;
}

#vegas {
  width: 60vw;
  height: 70vh;
}

.op {
  margin-top: 5%;
  float: left;
  text-align: center;
  margin-left: 10%;
}

.tate {
  font-size: 40px;
  writing-mode: vertical-rl;
  text-align: center;
}
